RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# if the path isn't a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# display the route as if `index.php` was in front of it
RewriteRule ^(.*)$ index.php/$1 [L]
